@font-face {
  font-family: 'Avenir-Black';
  src: url('./fonts/Avenir-Black/Avenir-Black.eot');
  src: url('./fonts/Avenir-Black/Avenir-Black.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/Avenir-Black/Avenir-Black.woff2') format('woff2'),
    url('./fonts/Avenir-Black/Avenir-Black.woff') format('woff'),
    url('./fonts/Avenir-Black/Avenir-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('./fonts/Avenir-Heavy/Avenir-Heavy.eot');
  src: url('./fonts/Avenir-Heavy/Avenir-Heavy.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/Avenir-Heavy/Avenir-Heavy.woff2') format('woff2'),
    url('./fonts/Avenir-Heavy/Avenir-Heavy.woff') format('woff'),
    url('./fonts/Avenir-Heavy/Avenir-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('./fonts/Avenir-Book/Avenir-Book.eot');
  src: url('./fonts/Avenir-Book/Avenir-Book.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/Avenir-Book/Avenir-Book.woff2') format('woff2'),
    url('./fonts/Avenir-Book/Avenir-Book.woff') format('woff'),
    url('./fonts/Avenir-Book/Avenir-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('./fonts/Avenir-Medium/Avenir-Medium.eot');
  src: url('./fonts/Avenir-Medium/Avenir-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/Avenir-Medium/Avenir-Medium.woff2') format('woff2'),
    url('./fonts/Avenir-Medium/Avenir-Medium.woff') format('woff'),
    url('./fonts/Avenir-Medium/Avenir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.clients-jumbotron {
  background-image: linear-gradient(
    to right,
    #776ce6,
    #7c8ad0 82%,
    #94a5d1 118%
  );
  border-radius: 0;
  padding: 120px 0px 172px 0px;
  color: white;
}

.clients-jumbotron h1 {
  font-size: 45px;
  font-family: 'Avenir-Black';
  font-size: 45px;
  font-weight: 900;
  letter-spacing: -0.01px;
}

.clients-jumbotron p {
  font-family: 'Avenir-Book';
  font-size: 20px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  .clients-jumbotron p {
    font-size: 18px;
  }

  .clients-jumbotron h1 {
    font-size: 40px;
  }
}

.clients-container img {
  width: 100%;
  height: auto;
}

.client-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.client-container h3 {
  text-decoration: underline;
  font-size: 20px;
  position: absolute;
  top: 185px;
  left: 0;
  bottom: 0;
  right: 0;
}

.clients-title-container {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  font-size: 20px;
  font-family: 'Avenir-Heavy';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.client-container:hover .clients-title-container {
  transform: translateY(0);
}
